// NOTE: Light Theme.

// Light Theme color variables.



$blue: #3d23da;
$textColor: #1d1d1d;
$darkGrey: #3d3d3d;
$grey: #696969;
$lightGrey: #cecece;
$backgroundColor: #e7e7e7;
$transparent: #ffffff00;

// Background effects.
$backgroundDotted: radial-gradient(circle at 5px 5px, rgba(117, 117, 117, 0.116) 5px, transparent 0);
$boxShadow3D: 5px -5px 7px 0px rgba(255, 255, 255, 0.72), -5px 4px 9px 0px rgba(0, 0, 0, 0.24);
$boxShadowBasic: 0 0 20px 5px rgba(0, 0, 0, 0.15);

// Elements
@mixin lightButton {
  color: $textColor;
  outline: 1px solid $grey;
  height: 40px;
  align-items: center;
  display: flex;
  margin-right: 20px;
  font-weight: 600;
  text-decoration: none;
  padding: 7px 15px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  &:hover {
    color: $blue;
    background-color: $lightGrey;
    // background-color: #cacaca;
    box-shadow: inset 0 1px px rgba(0, 0, 0, 0.24);
  }
}
