@use "sass:meta";

// ~ Light Theme.
// Light Theme color variables.
$primaryColor01-100-light: #3d23da;
$primaryColor01-50-light: #8d9dff;
$secondaryColor02-light: #19849d;
$textColor01-light: #303238;
$textColor02-light: #62636c;
$textColor03-light: #a5a5a5d5;
$grey-100-light: #3d3d3d;
$grey-50-light: #696969;
$grey-10-light: #cecece;
$backgroundColor-100-light: #e7e7e7;
$backgroundColor-50-light: #eff0f3;
$backgroundColor-10-light: #f8f8f8;
$backgroundSecondary-100-light: #33333370;
$backgroundSecondary-50-light: #8f8f8f70;
$backgroundSecondary-10-light: #dddddd5e;
$transparent: #ffffff00;

// ~ Dark Theme
// Dark Theme color variables.
$primaryColor01-100-dark: #6156ff;
$primaryColor01-50-dark: #5e73ff85;
$textColor01-dark: #eeeef0;
$textColor02-dark: #b2b3bd;
$textColor03-dark: #27282b80;
$grey-100-dark: #cecece;
$grey-50-dark: #696969;
$grey-10-dark: #1a1a1a;
$backgroundColor-100-dark: #111113;
$backgroundColor-70-dark: #161616dc;
$backgroundColor-50-dark: #29292c83;
$backgroundColor-10-dark: #6c6c7e2f;
$backgroundSecondary-100-dark: #c9c9c970;
$backgroundSecondary-50-dark: #92929270;
$backgroundSecondary-10-dark: #111111d2;
$transparent: #ffffff00;

// Background effects.
$backgroundDotted: radial-gradient(circle at 5px 5px, rgba(117, 117, 117, 0.116) 5px, transparent 0);
$boxShadow3D-light: 5px -5px 7px 0px $backgroundColor-50-light, -5px 4px 9px 0px $backgroundSecondary-50-light;
$boxShadow3D-dark: 5px -5px 7px 0px $backgroundColor-50-dark, -5px 4px 9px 0px $backgroundColor-70-dark;
$boxShadowBasic: 0 0 20px 5px rgba(0, 0, 0, 0.15);
$backgroundRadialNoise-light: radial-gradient(
    circle,
    $backgroundColor-100-light 0%,
    $backgroundSecondary-10-light 100%
  ),
  url("../img/noise.svg");
$backgroundRadialNoise-dark: radial-gradient(
    circle,
    $backgroundColor-70-dark 0%,
    $backgroundSecondary-10-dark 100%
  ),
  url("../img/noise.svg");

// ~ Themes
// Theme variables by class in the App.
[class="App light"] {
  --textColor01: #{meta.inspect($textColor01-light)};
  --textColor02: #{meta.inspect($textColor02-light)};
  --textColor03: #{meta.inspect($textColor03-light)};
  --primaryColor01-100: #{meta.inspect($primaryColor01-100-light)};
  --primaryColor01-50: #{meta.inspect($primaryColor01-50-light)};
  --backgroundColor-100: #{meta.inspect($backgroundColor-100-light)};
  --backgroundColor-50: #{meta.inspect($backgroundColor-50-light)};
  --backgroundColor-10: #{meta.inspect($backgroundColor-10-light)};
  --backgroundSecondary-100: #{meta.inspect($backgroundSecondary-100-light)};
  --backgroundSecondary-50: #{meta.inspect($backgroundSecondary-50-light)};
  --grey-100: #{meta.inspect($grey-100-light)};
  --grey-50: #{meta.inspect($grey-50-light)};
  --grey-10: #{meta.inspect($grey-10-light)};
  --transparent: #{meta.inspect($transparent)};
  --backgroundRadialNoise: #{meta.inspect($backgroundRadialNoise-light)};
  --boxShadow3D: #{meta.inspect($boxShadow3D-light)};
}

[class="App dark"] {
  --textColor01: #{meta.inspect($textColor01-dark)};
  --textColor02: #{meta.inspect($textColor02-dark)};
  --textColor03: #{meta.inspect($textColor03-dark)};
  --primaryColor01-100: #{meta.inspect($primaryColor01-100-dark)};
  --primaryColor01-50: #{meta.inspect($primaryColor01-50-dark)};
  --backgroundColor-100: #{meta.inspect($backgroundColor-100-dark)};
  --backgroundColor-50: #{meta.inspect($backgroundColor-50-dark)};
  --backgroundColor-10: #{meta.inspect($backgroundColor-10-dark)};
  --backgroundSecondary-100: #{meta.inspect($backgroundSecondary-100-dark)};
  --backgroundSecondary-50: #{meta.inspect($backgroundSecondary-50-dark)};
  --grey-100: #{meta.inspect($grey-100-dark)};
  --grey-50: #{meta.inspect($grey-50-dark)};
  --grey-10: #{meta.inspect($grey-10-dark)};
  --transparent: #{meta.inspect($transparent)};
  --backgroundRadialNoise: #{meta.inspect($backgroundRadialNoise-dark)};
  --boxShadow3D: #{meta.inspect($boxShadow3D-dark)};
}

// ~ Background Color for the main App
.App {
  background-color: var(--backgroundColor-100);
}

// ~ Elements
// Mixin Elements and components to re-use.
@mixin Button01 {
  color: var(--textColor01);
  outline: 1px solid var(--grey-50);
  height: 40px;
  align-items: center;
  display: flex;
  margin-right: 20px;
  font-weight: 600;
  text-decoration: none;
  padding: 7px 15px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  &:hover {
    color: var(--textColor01);

    background-color: var(--grey-10);
    box-shadow: inset 0 1px var(--backgroundSecondary-100);
  }
}

@mixin Button02-Footer {
  user-select: none;
  color: rgb(207, 207, 207);
  outline: 1px solid #a0a0a094;
  height: 60px;
  align-items: center;
  display: flex;
  margin-top: 20px;
  margin-right: 20px;
  font-weight: 600;
  text-decoration: none;
  padding: 7px 15px;
  border-radius: 30px;
  transition: background-color 0.3s ease;
  &:hover {
    color: white;
    background-color: var(--primaryColor01-100);
    background-color: var(--backgroundSecondary-50);
    box-shadow: inset 0 1px var(--backgroundSecondary-100);
  }
}

@mixin Button03Close {
  margin: 0;
  border: 0;
  padding: 0;
  background: #8d8d8d3f;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 150ms;

  .icon-cross {
    @include cross(30px, #ebebeb, 3px);  
  }

  &:hover,
  &:focus {
    // transform: rotateZ(90deg);
    background: hsl(0, 0%, 61%);
  }
}

@mixin cross($size: 20px, $color: currentColor, $thickness: 1px) {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: relative;
  width: $size;
  height: $size;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: ($size - $thickness) / 2;
    left: 0;
    right: 0;
    height: $thickness;
    background: $color;
    border-radius: $thickness;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

  span {
    display: block;
  }

}

// ~ Classes
// Classes with common variables
.text-primary {
  color: var(--textColor01);
}

.text-secondary {
  color: var(--textColor02);
}

.text-highlighted {
  color: var(--primaryColor01-100);
}

.section-container {
  max-width: 1600px;
  margin: 0 auto;
}

@media screen and (min-width: 1201px) {
  .section-container {
    padding: 50px 50px 50px 50px;
  }
  .section-head {
    margin: 0 auto 40px auto;
  }
}

@media screen and (max-width: 1200px) {
  .section-head {
    margin: 0 auto 40px auto;
  }
}

@media screen and (min-width: 801px) and (max-width: 1200px) {
  .section-container {
    padding: 20px 40px 20px 40px;
  }
  .section-head {
    margin: 0 auto 40px auto;
  }
}

@media screen and (max-width: 800px) {
  .section-container {
    padding: 30px 20px 20px 20px;
  }
}

.section-head {
  max-width: 1600px;
  text-align: left;
  width: 100%;
}

.section-title {
  margin-left: -5px;
  color: var(--textColor01);
  text-align: left;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 600;
  max-width: 1600px;
}

.section-title-small {
  text-align: left;
  // width: 20%;
  // border-bottom: 1px solid var(--primaryColor01-100);
}
