@use "sass:meta";

// ~ Light Theme.
// Light Theme color variables.
$primaryColor01-100-light: #3d23da;
$primaryColor01-50-light: #8d9dff;
$secondaryColor02-light: #19849d;
$textColor01-light: #303238;
$textColor02-light: #62636c;
$grey-100-light: #3d3d3d;
$grey-50-light: #696969;
$grey-10-light: #cecece;
$backgroundColor-100-light: #e7e7e7;
$backgroundColor-50-light: #eff0f3;
$backgroundColor-10-light: #f8f8f8;
$backgroundSecondary-100-light: #33333370;
$backgroundSecondary-50-light: #8f8f8f70;
$transparent: #ffffff00;

// ~ Dark Theme
// Dark Theme color variables.
$primaryColor01-100-dark: #6156ff;
$primaryColor01-50-dark: #5e73ff85;
$textColor01-dark: #eeeef0;
$textColor02-dark: #b2b3bd;
$grey-100-dark: #3d3d3d;
$grey-50-dark: #696969;
$grey-10-dark: #cecece;
$backgroundColor-100-dark: #111113;
$backgroundColor-50-dark: #29292c83;
$backgroundColor-10-dark: #6c6c7e2f;
$backgroundSecondary-100-dark: #c9c9c970;
$backgroundSecondary-50-dark: #92929270;
$transparent: #ffffff00;

// Background effects.
$backgroundDotted: radial-gradient(circle at 5px 5px, rgba(117, 117, 117, 0.116) 5px, transparent 0);
$boxShadow3D: 5px -5px 7px 0px rgba(255, 255, 255, 0.72), -5px 4px 9px 0px rgba(0, 0, 0, 0.24);
$boxShadowBasic: 0 0 20px 5px rgba(0, 0, 0, 0.15);

// ~ Themes
// Theme variables by class in the App.
[class="App light"] {
  $test01: grey;
  --textColor01: #{meta.inspect($textColor01-light)};
  --textColor02: #{meta.inspect($textColor02-light)};
  --primaryColor01-100: #{meta.inspect($primaryColor01-100-light)};
  --primaryColor01-50: #{meta.inspect($primaryColor01-50-light)};
  --backgroundColor-100: #{meta.inspect($backgroundColor-100-light)};
  --backgroundColor-50: #{meta.inspect($backgroundColor-50-light)};
  --backgroundColor-10: #{meta.inspect($backgroundColor-10-light)};
  --backgroundSecondary-100: #{meta.inspect($backgroundSecondary-100-light)};
  --backgroundSecondary-50: #{meta.inspect($backgroundSecondary-50-light)};
  --grey-100: #{meta.inspect($grey-100-light)};
  --grey-50: #{meta.inspect($grey-50-light)};
  --grey-10: #{meta.inspect($grey-10-light)};
  --transparent: #{meta.inspect($transparent)};
}

[class="App dark"] {
  --textColor01: #{meta.inspect($textColor01-dark)};
  --textColor02: #{meta.inspect($textColor02-dark)};
  --primaryColor01-100: #{meta.inspect($primaryColor01-100-dark)};
  --primaryColor01-50: #{meta.inspect($primaryColor01-50-dark)};
  --backgroundColor-100: #{meta.inspect($backgroundColor-100-dark)};
  --backgroundColor-50: #{meta.inspect($backgroundColor-50-dark)};
  --backgroundColor-10: #{meta.inspect($backgroundColor-10-dark)};
  --backgroundSecondary-100: #{meta.inspect($backgroundSecondary-100-dark)};
  --backgroundSecondary-50: #{meta.inspect($backgroundSecondary-50-dark)};
  --grey-100: #{meta.inspect($grey-100-dark)};
  --grey-50: #{meta.inspect($grey-50-dark)};
  --grey-10: #{meta.inspect($grey-10-dark)};
  --transparent: #{meta.inspect($transparent)};
}

// ~ Background Color for the main App
.App {
  background-color: var(--backgroundColor-100);
}

// ~ Elements
// Mixin Elements and components to re-use.
@mixin Button01 {
  color: var(--textColor01);
  outline: 1px solid var(--grey-50);
  height: 40px;
  align-items: center;
  display: flex;
  margin-right: 20px;
  font-weight: 600;
  text-decoration: none;
  padding: 7px 15px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  &:hover {
    color: var(--textColor01);
    background-color: var(--primaryColor01-100);
    background-color: var(--backgroundSecondary-50);
    box-shadow: inset 0 1px var(--backgroundSecondary-100);
  }
}

// ~ Classes
// Classes with common variables
.text-primary {
  color: var(--textColor01);
}

.text-secondary {
  color: var(--textColor02);
}

.text-highlighted {
  color: var(--primaryColor01-100);
}

.section-container {
  padding: 30px 20px 30px 20px;
  max-width: 1600px;
  margin: 0 auto;
}

.section-title {
  color: var(--textColor01);
  margin-bottom: 15px;
  text-align: left;
  text-transform: uppercase;
  line-height: 1;
  max-width: 1600px;
}

.section-title-small {
  text-align: left;
  width: 20%;
  // border-bottom: 1px solid var(--primaryColor01-100);
}
