/* Accordion Styles */
@import "./themes.scss";

.accordion-item {
  cursor: pointer;
  border-bottom: 1px solid #969696;
  overflow: hidden;
}

.accordion-main {
  color: var(--textColor01);
  height: 80px;
  justify-items: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.accordion-item:last-child {
  border-bottom: none;
}

.accordion-header {
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  font-weight: bold;
}

.accordion-item-content {
  transition: max-height 0.2s ease-out;
}

.accordion-description-container {
  display: block;
  width: auto;
  // max-height: 500px;
  height: auto;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.accordion-description {
  color: var(--textColor02);
  margin-bottom: 20px;
  font-size: 1rem;
  font-style: italic;
}

.accordion-image-container {
  height: 600px;
  width: 600px;
}

.accordion-item.active .accordion-item-content {
  transition: height 0.3s ease-out;
  max-height: 1000px;
}

.no-cursor {
  cursor: default;
  pointer-events: none;
}

.arrow {
  font-size: 2.5rem;
  transition: 0.5s ease-in-out;
}

.arrow.active {
  transform: scaleY(-1);
}
