@import "./themes.scss";

#footer {
	background-color: rgba(0, 0, 0, 0.8);
	padding: 60px 40px 20px 40px;
	border-radius: 30px 30px 0 0;
	// height: 600px;
	// align-content: space-between;
}

.footer-title-logo {
	font-size: 11vh;
}

.footer-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	// align-items: center;
	// margin: auto;
	// width: 90%;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: space-around;
}

.footer-title {
	color: white;
}

.footer-list-links {
	display: flex;
}

.footer-links {
	padding: 5px 10px;
	margin-left: 30px;
	& li {
		cursor: pointer;
		padding: 3px 0px;
	}
}

.footer-icon {
	font-size: 30px;
}

.social-icon,
.social-list {

	color: #fff;
	text-decoration: none;
	font-size: 13px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.5);
	letter-spacing: 2px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.footer-text:hover {
	color: white;
	text-decoration: none;
}

.footer-logo {
	color: beige;
	text-align: center;
}

.footer-button {
	@include Button02-Footer;
	display: inline-block;
}

.footer-bottom {
	color: #ffffff80;
	display: flex;
	justify-content: space-between;
}