@import "./themes.scss";

#header {
  // max-width: 1600px;
  // padding: 10px 20px 20px 20px;
  margin: 0 auto;
}

#buttons-header {
  display: flex;
  // margin-top: 20px;
}

#header-title {
  font-family: Anton, JetBrains Mono, Arial, sans-serif;
  pointer-events: none;
  // color: var(--textColor01);
  color: white;
  letter-spacing: 0;
  font-weight: 500;
  line-height: 1;
}

// .header-text-top {
//   bottom: 0;
//   justify-items: center;
//   position: absolute;
// }

.text-title {
  // color: var(--textColor01);

}

.blue-text-outline {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--primaryColor01-100);
  color: $transparent;
}

.blink-effect {
  animation: blink 1.5s steps(1) infinite;
  // margin-left: 0;
  animation-delay: 0s;
  animation-fill-mode: none;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--primaryColor01-100);
  animation-range: normal;
  color: #3f23da00;
  // letter-spacing: -3px;
}

.header-bottom {
  // margin-bottom: 15px;
  color: var(--textColor02);
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  & p:last-child {
    text-align: right;
  }
}

@keyframes cursor-blink {
  100% {
  }
  0% {
    -webkit-text-stroke-color: #3f23da00;
  }
}

.header-image-container {
  height: calc(100%);
  // background-color: var(--backgroundSecondary-50) !important;
  align-content: center;
  overflow: hidden;
  // background: url("../img/headerImg.png") transparent no-repeat center;
  background-size: contain;
}

.header-title-container {
  text-align: center;
  justify-content: center;
}

.header-title-icon-left {
  width: 20%;
  background-color: gray;
}

.header-image {
  // width: 90%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
}

.header-text {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  // height: calc(40%);
  // margin-top: 15px;
  padding: 0 20px 20px 20px;
  bottom: 0;
  justify-items: center;
  position: absolute;
}

.header-paragraph {
  margin: 20px auto 30px auto;
  text-align: center;
  color: var(--textColor01);
}
