@import "./themes.scss";

#introduction {
  align-content: center;
}

.intro-container {
  height: 100%;
}

.intro-text {
  align-content: center;
  vertical-align: middle;
  margin-right: 20px;
}

.intro-img-container {
  vertical-align: middle;
  align-content: center;
}

.intro-img {
  margin: 0 auto;
  opacity: 0.5;
  border-radius: 10px;
}

.intro-button {
  @include Button01;
}

.intro-sub {
  display: flex;
  margin-top: 20px;
}

.intro-p {
  color: var(--textColor01)
}
