@import "./themes.scss";

#introduction {

  align-content: center;
 
}

.intro-container {
  height: 100%;
}

.intro-text {
  align-content: center;
  vertical-align: middle;
  margin-right: 20px;
}

.intro-img-container {
  vertical-align: middle;
  align-content: center;
  height: 700px;
  &:hover {
    transition: transform 0.7s ease, opacity 0.7s ease, filter 0.7s ease;
    transform: scale(1.05);
  }
}

.intro-img {
  margin: 0 auto;
  border-radius: 10px;
  height: 100%;

  object-fit: cover;
}

.intro-button {
  @include Button01;
}

.intro-sub {
  display: flex;
  margin-top: 20px;
}

.intro-p {
  color: var(--textColor01);
}


@media screen and (min-width: 1200px) {
  #introduction {
    min-height: 80vh;
  }
}


@media screen and (min-width: 801px) and (max-width: 1200px) {
  #introduction {
    min-height: 70vh;
    margin: 30px 0px;
  }
}

@media screen and (max-width: 800px) {
  #introduction {
    min-height: 35vh;
  }
}