#introduction {
  /* padding: 20px; */
  height: 900px;

  align-content: center;
}

.intro-container {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

.introduction-image {
  margin: 0 auto;
  height: 800px;
  opacity: 0.5;
}

.intro-container p {
  font-size: 1.8rem;
}
