@import './LightTheme.scss';

#introduction {
  height: 900px;
  align-content: center;
}

.intro-container {
  display: flex;
}

.intro-text {
  width: 60%;
  vertical-align: middle;
  margin-right: 20px;
}

.intro-img-container {
  vertical-align: middle;
}

.intro-img {
  margin: 0 auto;
  opacity: 0.5;
  border-radius: 10px;
}
