@import "./themes.scss";

#root {
  font-family: JetBrains Mono, Arial, sans-serif;
}

#background-image {
  position: absolute;
  background-image: url(../img/backgroundCircles.svg);
  filter: brightness(0.1);
  transform: translate(30%, 0);
  height: 120%;
  filter: blur(100px);
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
@keyframes MOVE-BG {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-187%);
  }
}

.header-title:hover {
  pointer-events: none;
}

.header-paragraph {
  text-align: left;
}



#header-img {
  margin: 0 auto;
  transition: 200ms linear;
  max-width: 1200px;
  transform: translate(-50%, -50%);
  &:hover {
    transform: scale(1.05);
  }
}

#header-img-container {
  align-content: center;
  height: 50%;
}

.header-logo {
  width: 30px;
  margin-right: 5px;
}

.sorting-icons {
  margin: 0 auto;
  width: 200px;
  position: relative;
}

#projects-list-cards {
  // flex-direction: row;
  flex-wrap: wrap;
  // align-content: stretch;
  display: flex;
  max-width: 1600px;
  // flex-grow: 3;
  // flex-shrink: 1;
  justify-content: center;
}

.header-icons {
  margin-top: 20px;
}

@keyframes blink {
  0%,
  100% {
    -webkit-text-stroke-color: #3f23da00;
  }
  50% {
    -webkit-text-stroke-color: var(--primaryColor01-100);
  }
}

.hero-logo {
  width: 20px;
  margin-right: 5px;
}

.button-header {
  @include Button01;
}

.hero-types {
  margin: 50px 0 0 0;
  display: flex;
  justify-content: center;
}

.work-types {
  margin: 50px 0;
  display: flex;
  justify-content: center;
}

.work-type {
  text-align: center;
  width: 300px;
  border-right: 1px solid var(--grey-100);
}

.work-type-title {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 10px;
  &:hover {
    text-decoration: underline;
    color: var(--primaryColor01-100);
  }
}

.work-type:last-child {
  border: none;
}


