@media screen and (max-width: 800px) {
  #header {
    height: auto;
  }
	#introduction {
		height: 350px;
		overflow: hidden;
	}
  .header-paragraph {
    width: auto;
  }
  .header-image-container {
    min-height: 300px;
  }
	.intro-img-container {
		display: none;
	}
  .header-paragraph {
    font-size: 0.9rem;
  }
  .nav-width {
    padding: 10px 20px;
  }
  .card {
    margin-bottom: 20px;
  }
  #header-title {
    font-size: 4.5rem;
  }
  .section-title {
    font-size: 3rem;
  }
  .intro-text p {
    font-size: 1.3rem;
  }
  .header-title {
    margin-bottom: 0px;
  }
}
  

@media screen and (max-width: 1200px) {
  .intro-container {
  align-content: center;
    display: block;
  }
  .intro-text {
    width: 100%;
  }
  .intro-img-container {
		margin-top: 30px;
    width: 100%;
  }
}

@media screen and (min-width: 1201px) {
  .intro-container {
    display: flex;
	}
	.intro-text {
    width: 60%;
  }
  .intro-img-container {
    width: 45%;
  }
}

@media screen and (min-width: 801px) and (max-width: 1440px) {
  .header-paragraph {
    font-size: 1.2rem;
  }
  .nav-width {
    padding: 10px 20px;
  }
  #header-img {
    width: 80%;
  }
  .intro-text p {
    font-size: 2rem;
  }
  #header-title {
    font-size: 11vh;
  }
  .section-title {
    font-size: 5.5rem;
  }
}

@media screen and (min-width: 1441px) {
  .header-paragraph {
    font-size: 1.3rem;
  }
  .nav-width {
    padding: 10px 0px;
  }
  #header-title {
    font-size: 15vh;
  }
  #header-img {
    width: 100%;
  }
  .section-title {
    font-size: 5.5rem;
  }
  .intro-text p {
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 1440px) {
  #nav-width {
    padding: 0 20px;
  }
}

@media screen and (min-width: 801px) {
  .header-title {
    margin-bottom: 5px;
  }
  #header {
    height: calc(100vh - 60px);
  }
  .card {
    margin: 10px 10px;
  }
  .header-paragraph {
    width: 80%;
  }
}
