@media screen and (max-width: 800px) {
  #header {
    height: auto;
  }
  #introduction {
    height: 350px;
    overflow: hidden;
  }
  .header-paragraph {
    width: auto;
  }
  .header-image-container {
    min-height: 300px;
  }
  .intro-img-container {
    display: none;
  }
  .header-paragraph {
    font-size: 1.3vh;
  }
  .nav-width {
    padding: 10px 20px;
  }

  #header-title {
    font-size: 4.5rem;
  }
  .section-title {
    font-size: 3rem;
  }
  .intro-text p {
    font-size: 1.3rem;
  }
  .header-title {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 1200px) {
  .intro-container {
    align-content: center;
    display: block;
  }
  .intro-text {
    width: 100%;
  }
  .intro-img-container {
    margin-top: 30px;
    max-height: 500px;
    width: 100%;
  }
  .skills-description {
    width: 90%;
    margin: 50px auto 50px auto;
  }
  #about {
    max-width: 90%;
  }
  #about-text {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .about-content {
    align-items: center;
    // display: block;
  }

  .about-image {
    height: 100%;
    object-fit: cover;
    margin: 40px auto;
    width: 80%;
    max-height: 500px;
  }
  .about-text-bottom {
display: none;
  }

}

@media screen and (min-width: 1201px) {

  #about-text {
    text-align: left;
  }
  .skills-description {
    width: 60%;
    margin: 50px auto 50px auto;
  }
  .intro-container {
    display: flex;
  }
  .intro-text {
    width: 60%;
  }
  .intro-img-container {
    width: 45%;
  }
  .about-content {
    margin: 0 auto;
    align-content: center;
    align-items: center;
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 1fr 1.1fr;
    max-width: 90%;
  }

  .about-image {
    border-radius: 10px;

    // max-height: 700px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
  }
  .about-text-bottom {
    color: var(--textColor03);
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
margin-top: 20px;
    & p:last-child {
      text-align: right;
    }
  }
}

@media screen and (min-width: 801px) and (max-width: 1440px) {
  .header-paragraph {
    font-size: 2vh;
  }
  .nav-width {
    padding: 10px 20px;
  }
  #header-img {
    width: 80%;
  }
  .intro-text p {
    font-size: 2rem;
  }
  #header-title {
    font-size: 12vh;
  }
  .section-title {
    font-size: 5.5rem;
  }
}

@media screen and (min-width: 1441px) {
  .header-paragraph {
    font-size: 1.3rem;
  }
  .nav-width {
    padding: 10px 0px;
  }
  #header-title {
    font-size: 13vh;
  }
  #header-img {
    width: 100%;
  }
  .section-title {
    font-size: 7rem;
  }
  .intro-text p {
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 1440px) {

}

@media screen and (min-width: 801px) {
  .header-title {
    margin-bottom: 5px;
  }
  #header {
    height: 100vh;
    // height: 100vh;
  }

  .header-paragraph {
    width: 70%;
  }
}
