@media screen and (max-width: 800px) {
	#header {
		height: auto;
	}
	.header-paragraph {
		font-size: 0.9rem;
	}
	#header-img {
		width: 100%;
	}
	.nav-width {
		padding: 10px 20px;
	}

	#header-title {
		font-size: 3.5rem;
	}

	.section-title {
		font-size: 3rem;
	}
}

@media screen and (min-width: 801px) and (max-width: 1440px) {

	.header-paragraph {
		font-size: 1.2rem;
	}
	.nav-width {
		padding: 10px 20px;
	}
	#header-img {
		/* max-height: 400px; */
		width: 80%;
	}

	#header-title {
		font-size: 10vh;
	}
	.section-title {
		font-size: 5.5rem;
	}
}

@media screen and (min-width: 1441px) {
	.header-paragraph {
		font-size: 1.3rem;
	}
	.nav-width {
		padding: 10px 0px;
	}
	#header-title {
		font-size: 10vh;
	}
	#header-img {
		width: 100%;
	}
	.section-title {
		font-size: 5.5rem;
	}
}




@media screen and (min-width: 801px)  {
	#header {
		height: 100vh;
		
	}
}