.p-showcase2 {
	/* border-radius: 5px; */
	/* flex-grow: 1; */
	display: flex;
	box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15);
	overflow: hidden;
	max-width: 1200px;
	min-width: 1000px;
	margin: 10px 10px;
	background-color: #f0f0f0;
  padding: 20px;
  border-radius: 20px;
	transition: background-color 0.3s ease;
}

.p-showcase:hover {
  background-color: #ffffff;
	outline: 2px solid rgb(160, 160, 160);
}

.project-image2 {
	width: 100%;
	height: auto;
	max-height: 500px;
	border-radius: 10px;
}

.project-img-box {
	width: 65%;
}

/* .project-content {
	padding: 10px 15px; */
	/* padding: 10px 0 0 0;
} */

.project-title2 {
	font-size: 2rem;
	/* text-transform: uppercase; */
	font-weight: bold;
}

.project-title2:hover {
  text-decoration: underline;
  color: #3d23da;
}

.project-description {
	font-size: 0.85rem;
	color: #666;
	margin: 15px 0;
}

.more-info-side {
	padding: 0 20px;
	width: 35%;
}

.more-info-text {
	margin-top: 10px;
	font-size: 0.8rem;
}

.more-info-text p {
	font-size: 0.9rem;
	margin-right: 5px;
	text-align: right;
	color: #3d23da;
}

.more-info-text p:hover {
	/* font-weight: 600; */
	transition: text-decoration 1s ease;
	text-decoration: underline;
}

.icons-side2 {
	border-top: 1px solid rgb(175, 175, 175);
}

.icons-side2 img {
	padding: 5px;
	margin-top: 15px;
	margin-right: 5px;
	width: 60px; /* Adjust size as needed */
	height: auto; /* Adjust size as needed */
}

.icons-side2 img:hover {
	/* outline: 3px solid #3D23DA; */
	/* outline: 2px solid black; */
  background-color: #e4e4e4;
  border-radius: 5px;
	outline-offset: -3px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.24); /* Larger inset shadow on hover */

}
