/* Product Card Container */
.product-card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Product Image */
.product-image {
  height: 200px; /* Adjust height as needed */
  background-image: url('../img/code.png'); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
}

/* Product Details Container */
.product-details {
  padding: 20px;
}

/* Product Title */
.product-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

/* Product Description */
.product-description {
  margin-top: 0;
  margin-bottom: 20px;
  color: #666;
}

/* Product Icons */
.product-icons {
  display: flex;
}

.product-icons .material-icons {
  font-size: 24px;
  margin-right: 10px;
  color: #666;
}

.product-icons .material-icons:last-child {
  margin-right: 0;
}
