.card {
  /* border-radius: 5px; */
  flex-grow: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 500px;
  min-width: 400px;
  margin: 10px 10px;
  background-color: #ffffff;
  transition: background-color 0.3s ease;
}

.card:hover {
  border: solid black;
}

.card img {
  width: 100%;
  height: auto;
  max-height: 350px;
}

.card-content {
  padding: 10px;
}

.card-title {
  font-size: 1.5rem;
  margin: 5px 0;
  font-weight: bold;
}

.card-description {
  font-size: 0.9rem;
  color: #666;
  margin: 10px 0;
}

.icons {
  padding: 5px;
}

.icons img {
 
  width: 40px; /* Adjust size as needed */
  height: auto; /* Adjust size as needed */
  
}

.icons img:hover {
  border: 1px solid black;

}