@use "sass:meta";
@import "./themes.scss";

[class="popup open light"] {
  --background01: #{meta.inspect($backgroundSecondary-100-light)};
  --background02: #{meta.inspect($backgroundColor-100-light)};
  --textColor01: #{meta.inspect($textColor01-light)};
  --primaryColor01-100: #{meta.inspect($primaryColor01-100-light)};
}

[class="popup open dark"] {
  --background01: #{meta.inspect($backgroundColor-50-dark)};
  --background02: #{meta.inspect($backgroundColor-100-dark)};
  --textColor01: #{meta.inspect($textColor01-dark)};
  --primaryColor01-100: #{meta.inspect($primaryColor01-100-dark)};
}

.popup.open {
  backdrop-filter: blur(5px);
  background-color: var(--background01);
  opacity: 1;
  transition: all 200ms ease-in;
}

.popup.close {
  backdrop-filter: unset;
  transition: all 300ms ease;
  opacity: 0;
}

.popup {
  overflow-y: auto;
  opacity: 0;
  backdrop-filter: unset;
  position: fixed;
  align-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  border-radius: 8px;
}

.popup-container {
  overflow: hidden;

  margin: 20px auto;
  border-radius: 20px;
  background-color: var(--background02);
  width: 90%;
  max-width: 1200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.295);
}

.popup-content {
  position: relative;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10000;
  @include Button03Close;
}

.line-close-1,
.line-close-2 {
  width: 25px;
  height: 3px;
  background-color: #e0e0e0;
  margin: 3px;
}

.line-close-1 {
  transform: rotate(-45deg) translate(0, 6.5px);
}

.line-close-2 {
  transform: rotate(45deg) translate(0, -6.5px);
}

.slideshow {
  // width: 100%;

  // display: flex;
  // flex-wrap: wrap;
  direction: ltr;
  width: 100%;
  overflow: hidden;
  margin: auto;
  position: relative;
}

.react-slideshow-container {
  max-height: 900px;
}

.react-slideshow-container .nav:last-of-type {
  background-color: #e4e4e441;
  right: 10px;
}

.react-slideshow-container .nav:first-of-type {
  background-color: #e4e4e441;
  left: 10px;
}

.each-slide-effect {
  // height: 100%;

  height: 100%;
  align-content: center;
}

.each-slide-effect > img {
  // border-radius: 10px;
  display: flex;
  // align-items: center;
  // justify-content: center;
  background-size: cover;
  // max-height: 600px;
  // height: 100%;
}

.indicators {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}

.slideshow-img {
  margin: 0 auto;
  width: 100%;
  // flex-shrink: 0;
  // min-width: 100%;
  // min-height: 100%;
  // width: 100%;
  // min-width: 100%;
  // max-height: 400px;
  // display: block;
  // margin-bottom: 10px;
}

.popup-details {
  color: var(--textColor01);

  // margin-top: 20px;
}

.popup-text {
}

.popup-side-info {
}

.popup-title {
  margin-bottom: 10px;
  color: var(--textColor01)
}

.popup-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.popup-info-table {
  // border-radius: 10px;
  // outline: 1px solid black;

  
  font-size: 0.9rem;
  table-layout: fixed;
  width: 100%;
  // text-align: center;
  & td {
    vertical-align: middle;
    text-align: center;
    padding: 3px;
  }
}

.icons {
  display: flex;
  justify-content: center;
}

.type {
  text-transform: uppercase;
  color: white;

  padding: 0.25rem 0.75rem;
  border-radius: 2em;
  background-color: var(--primaryColor01-100);
}

.popup-list {
  color: var(--textColor02);
  margin: 20px 0 20px 40px;
  & .popup-list-item {
    padding: 5px 0;
    list-style: circle;
  }
}

@media screen and (max-width: 800px) {
  .popup-info-table {
    margin: 20px 0px;
  }

  .popup-title {
    font-size: 2.4rem;
  }
  .popup-bottom {
    padding: 20px 30px;
  }
  .popup-details {
    display: block;

    margin: 0;
  }
  .popup-text {
    width: 100%;
  }
  .popup-side-info {
    width: 100%;
  }
}
@media screen and (min-width: 800px) {
  .popup-info-table {
    margin: 0px 0px;
  }
  .popup-title {

    font-size: 3rem;
  }
  .popup-bottom {
    padding: 20px 40px 20px 40px;
  }
  .popup-details {
    display: flex;
  }
  .popup-text {
    width: 65%;
    padding-right: 35px;
  }

  .popup-side-info {
    width: 35%;
  }
}
