@import "./themes.scss";

.popup.open {
  backdrop-filter: blur(5px);
  background-color: var(--backgroundColor-100);
  opacity: 1;
  transition: all 200ms ease-in;
}

.popup.close {
  backdrop-filter: unset;
  background-color: var(--transparent);
  transition: all 300ms ease;
  opacity: 0;
}

.popup {
  overflow-y: auto;
  opacity: 0;
  backdrop-filter: unset;
  position: fixed;
  align-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  border-radius: 8px;
}

.popup-container {
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  border-radius: 20px;
  background-color: white;
  width: 90%;
  max-width: 1200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.295);
}

.popup-content {
  padding: 40px 40px;
}

.popup-close {
  margin: 0 0 10px auto;
  background-color: var(--grey-100);
  display: flex;
  border-radius: 40px;
  padding: 15px 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: var(--grey-100);
  }
}

.line-close-1,
.line-close-2 {
  width: 25px;
  height: 3px;
  background-color: #e0e0e0;
  margin: 3px;
}

.line-close-1 {
  transform: rotate(-45deg) translate(0, 6.5px);
}

.line-close-2 {
  transform: rotate(45deg) translate(0, -6.5px);
}

.slideshow {
  display: flex;
  flex-wrap: wrap;
}

.slideshow-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.popup-details {
  margin-top: 20px;
}

.popup-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.popup-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.tag,
.date,
.type {
  background-color: var(--backgroundColor-100);
  color: #333;
  padding: 5px 10px;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
}
