@import "./themes.scss";

.p-showcase {

  gap: 0px 0px;
  // box-shadow: $boxShadowBasic;
  overflow: hidden;

  // background-color: var(--backgroundColor-50);
  border-radius: 10px;
  transition: background-color 0.3s ease;
  &:hover {
    // background-color: var(--backgroundColor-10);
    // outline: 2px solid var(--primaryColor01-50);
  }
  &:hover .project-image-container .project-image {
    transition: transform 0.7s ease, opacity 0.7s ease, filter 0.7s ease;
    transform: scale(1.05);
    filter: saturate(1);
    opacity: 1;
  }
  &:last-child {
    margin-bottom: 0px;
  }
}

.p-image-container {
  border-radius: 15px;
  overflow: hidden;
}

.p-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  &:hover {
    transition: transform 0.7s ease, opacity 0.7s ease, filter 0.7s ease;
    transform: scale(1.05);
  }
}

.p-content {
  position: relative;


}

.p-number {
  user-select: none;
  width: fit-content;
  height: fit-content;
  display: inline-block;
  // box-sizing: content-box;
  // height: 100%;
  top: -110px;
  left: 0px;
  z-index: 0;
  font-size: 20rem;
  position: absolute;
  color: var(--grey-10);
}

.p-title {
  color: var(--textColor01);
  position: relative;
  z-index: 2;
  margin-bottom: 5px;
  // box-shadow: 0 1px 0 0 var(--textColor02);
  // text-transform: uppercase;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    // text-decoration: underline;
    color: var(--primaryColor01-100);
  }
}

.p-description {
  position: relative;
  font-size: 1rem;
  color: var(--textColor02);
  margin-bottom: 5px;
}

.p-date {
  color: var(--textColor02);
  font-size: 0.8rem;
}

.icons img {
  padding: 5px;
  margin-top: 5px;
  margin-right: 5px;
  width: 50px;
  height: auto;
}

.p-list {
  color: var(--textColor02);
  margin: 20px 0 20px 40px;
  & .p-list-item {
    padding: 5px 0;
    list-style: circle;
  }
}

.p-more-info {
  width: 250px;
  justify-content: center;
  @include Button01;
}

@media screen and (max-width: 1200px) {
  .p-showcase {
    height: 800px;
    margin: 20px 0;
    grid-template-columns: 1fr;
    grid-template-rows: 2.5fr 1fr;
    display: grid;
  }
  .p-content {
    align-content: start;
    padding: 20px 0px;
  }
  .p-image-container {
    order: -1;
    position: relative; /* Ensure relative positioning for absolute positioning of the image */
    overflow: hidden; /* Hide overflow */
  }
  .p-list {
    display: none;
  }
  .p-image {
    width: 100%; /* Ensure the image fills the container */
    height: 100%;
    object-fit: cover; /* Scale the image while preserving its aspect ratio to cover the entire container */
    position: absolute; /* Position the image absolutely within the container */
    top: 0;
    left: 0;
  }
  .p-more-info {
    display: none;
    margin: 5px auto;
  }
  .p-number {
    display: none;
  }
  .p-title {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .p-showcase {
  height: 700px;
  margin: 60px 0;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;

    display: grid;
  }
  .p-content {
    align-content: center;
    padding: 20px 40px;
  }
  .p-image-container {
    order: 1;
  }
  .p-title {
    font-size: 2.6rem;
  }
}
