@import "./themes.scss";

.card {
  // box-shadow: $boxShadowBasic;
  box-sizing: border-box;
  flex: 1;
  cursor: pointer;
  overflow: hidden;
  max-width: 800px;
  min-width: 400px;
  height: auto;
  padding: 10px;
  // background-color: var(--backgroundColor-50);
  // border-radius: 10px;
  transition: background-color 0.3s ease;
  &:hover {
    // box-shadow: 1px 0px 0 0 var(--textColor02), -1px 0px 0 0 var(--textColor02);
    // background-color: var(--backgroundColor-10);
    // outline: 2px solid var(--primaryColor01-50);
  }
  &:hover .card-top {
    box-shadow: 0 1px 0 0 var(--textColor02);
    // border-bottom: 1px solid var(--textColor01);
    // padding-bottom: -1px;
  }
}

.card-top {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  & .card-top-text {
    color: var(--textColor02);
  }
}

.card-image-container {
  position: relative;
  background-color: #d1d1d1;
  overflow: hidden;
  height: 500px;
  border-radius: 10px;
}

.card-image {
  // opacity: 0.5;
  transition: 600ms ease;
  width: 100%;
  // width: 100%;
  height: 100%;
  // height: auto;
}

.card-image-tags {
  text-transform: uppercase;
  color: white;
  z-index: 2;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0.25em 0.75em;
  border-radius: 2em;
  background-color: var(--primaryColor01-100);
}

.card-description-container {
  // padding: 15px 15px;
}

.card-title {
  color: var(--textColor01);
  margin-top: 10px;
  /* margin-bottom: 5px; */
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  &:hover {
    text-decoration: underline;
    color: var(--primaryColor01-100);
  }
}

.card-description {
  height: 65px;
  font-size: 0.75rem;
  color: var(--textColor02);
  margin: 0 0 10px 0;
}

.card-more-info {
  border-top: 1px solid rgb(175, 175, 175);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more-info-text {
  margin-top: 10px;
  font-size: 0.8rem;
}

.more-info-text p {
  font-size: 0.9rem;
  margin-right: 5px;
  text-align: right;
  color: var(--primaryColor01-100);
  &:hover {
    transition: text-decoration 1s ease;
    text-decoration: underline;
  }
}

.icons img {
  padding: 5px;
  margin-top: 5px;
  margin-right: 5px;
  width: 50px;
  height: auto;
  transition: outline 0.1s ease;
  &:hover {
    border-radius: 5px;
    outline-offset: -3px;
    background-color: var(--backgroundColor);
    border-radius: 5px;
    outline-offset: -3px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.24); /* Larger inset shadow on hover */
  }
}

@media screen and (max-width: 800px) {
  .card-image {
    opacity: 1;
    filter: saturate(1);
  }
  .card-container:hover .card-image-container .card-image {
    transition: transform 0.7s ease, opacity 0.7s ease, filter 0.7s ease;
    transform: scale(1.05);

  }
}

@media screen and (min-width: 801px) {
  .card-image {
    // filter: saturate(0);

  }
  .card-container:hover .card-image-container .card-image {
    transition: transform 0.7s ease, opacity 0.7s ease, filter 0.7s ease;
    transform: scale(1.1);
    filter: saturate(1);
    opacity: 1;
  }
}
