@use "sass:meta";
@import "./themes.scss";

[class="popup open light"] {
  --background01: #{meta.inspect($backgroundSecondary-100-light)};
  --background02: #{meta.inspect($backgroundColor-100-light)};
  --textColor01: #{meta.inspect($textColor01-light)};
}

[class="popup open dark"] {
  --background01: #{meta.inspect($backgroundColor-50-dark)};
  --background02: #{meta.inspect($backgroundColor-100-dark)};
  --textColor01: #{meta.inspect($textColor01-dark)};
}

.popup.open {
  backdrop-filter: blur(5px);
  background-color: var(--background01);
  opacity: 1;
  transition: all 200ms ease-in;
}

.popup.close {
  backdrop-filter: unset;
  transition: all 300ms ease;
  opacity: 0;
}

.popup {
  overflow-y: auto;
  opacity: 0;
  backdrop-filter: unset;
  position: fixed;
  align-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  border-radius: 8px;
}

.popup-container {
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  border-radius: 20px;
  background-color: var(--background02);
  width: 90%;
  max-width: 1200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.295);
}

.popup-close {
  margin: 0 0 0 auto;
  background-color: grey;
  display: flex;
  border-radius: 40px;
  padding: 15px 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: blue;
  }
}

.line-close-1,
.line-close-2 {
  width: 25px;
  height: 3px;
  background-color: #e0e0e0;
  margin: 3px;
}

.line-close-1 {
  transform: rotate(-45deg) translate(0, 6.5px);
}

.line-close-2 {
  transform: rotate(45deg) translate(0, -6.5px);
}

.slideshow {
  // width: 100%;
  // display: flex;
  // flex-wrap: wrap;
  direction: ltr;
  width: 100%;
  margin: auto;
}

// .each-slide-effect > img {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background-size: cover;
//   height: 350px;
// }



.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 600px;
}


// .slideshow-img {
//   width: 100%;
//   height: auto;
//   display: block;
//   margin-bottom: 10px;

// }

.popup-details {
  color: var(--textColor01);
  margin-top: 20px;
}

.popup-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.popup-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.tag,
.date,
.type {
  padding: 5px 10px;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
  .popup-content {
    padding: 20px 20px;
  }
}
@media screen and (min-width: 800px) {
  .popup-content {
    padding: 40px 40px;
  }
}
