.card {
  /* border-radius: 5px; */
  flex-grow: 1;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  max-width: 500px;
  min-width: 400px;
  margin: 10px 10px;
  background-color: #ffffff;
  transition: background-color 0.3s ease;
}

.card:hover {
  outline: 3px solid rgb(136, 136, 136);
}

.card img {
  width: 100%;
  height: auto;
  max-height: 400px;
}

.card-content {
  padding: 10px 15px;
}

.card-title {
  font-size: 1.5rem;

  font-weight: bold;
}

.card-description {
  font-size: 0.9rem;
  color: #666;
  margin: 5px 0;
}

.icons {
  

}

.more-info {
  border-top: 1px solid rgb(175, 175, 175);

}

.more-info-text {
  margin-top: 10px;
}

.more-info-text p {
  font-size: 0.9rem;
  margin-right: 5px;
  text-align: right;
  color: #3D23DA;
}

.more-info-text p:hover {
  /* font-weight: 600; */
  transition: text-decoration 1s ease;
  text-decoration: underline;
}

.icons img {
  padding: 5px;
 margin-top: 10px;
  width: 40px; /* Adjust size as needed */
  height: auto; /* Adjust size as needed */

}

.icons img:hover {
  /* outline: 3px solid #3D23DA; */
  outline: 3px solid black;
  outline-offset: -3px;

}