/* #skills {

} */

#skills-main {
  padding: 50px 30px;
  max-width: 1440px;
  margin: 0 auto;
}

.skills-description {
  text-align: center;
  margin: 40px 0 60px 0;
}

.skills-description-title {
  margin: 0 auto 10px auto;
  max-width: 500px;
  font-weight: 700;
  color: #333;
  font-size: 1.7rem;
}

.skills-description-text {
  max-width: 800px;
  margin: 0 auto;
}

.skills-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1600px;
}

.skill {
  transition: background-color 0.3s ease;
  border-radius: 10px;
  background: radial-gradient(circle, rgb(235, 235, 235) 0%,rgba(221, 221, 221, 0.37) 100%), url(https://grainy-gradients.vercel.app/noise.svg);
  /* background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%,rgb(177, 178, 180) 100%); */
  flex: 25% 25% 25%;
  margin: 10px 10px;
  width: 350px;
  height: 450px;
  text-align: center;
  align-content: center;
}

.skill:hover {
  box-shadow: 5px -5px 7px 0px rgba(255, 255, 255, 0.72), -5px 4px 9px 0px rgba(0, 0, 0, 0.24);
 
  backdrop-filter: blur(10px);
}

.skill-img {
  transition: transform 0.3s ease;
  height: 50%;
  margin: 0 auto;
  /* max-width: 200px; */
  /* height: 150px; */
  margin-bottom: 30px;
}

.skill-img:hover {
  transform: scale(1.05);
}

.skill-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
}

.skill-text {
  color: #616161;
  font-size: 0.9rem;
}
