@import "./LightTheme.scss";

#skills {
  background-image: $backgroundDotted;
  background-size: 40px 40px;
}

#skills-main {
  padding: 50px 30px;
  max-width: 1440px;
  margin: 0 auto;
}

.skills-description {
  text-align: center;
  margin: 40px 0 60px 0;
}

.skills-description-title {
  margin: 0 auto 20px auto;
  max-width: 500px;
  font-weight: 800;
  color: $textColor;
  font-size: 1.7rem;
}

.skills-description-text {
  max-width: 800px;
  margin: 0 auto;
}

.skills-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1600px;
}

.skill {
  transition: box-shadow 0.3s ease;
  transition: width 0.5s ease;
  border-radius: 10px;
  background: radial-gradient(circle, rgb(235, 235, 235) 0%, rgba(221, 221, 221, 0.37) 100%),
    url("../img/noise.svg");
  margin: 10px 10px;
  width: 350px;
  height: 450px;
  text-align: center;
  align-content: space-between;
  &:hover {
    box-shadow: $boxShadow3D;
    width: 450px;
    transform: translateY(0);
    backdrop-filter: blur(10px);
  }
  &:hover .skill-image {
    opacity: 1;
  }
}

.skill-img {
  opacity: 0.7;
  transition: transform 0.3s ease, opacity 0.3s ease;
  height: 50%;
  margin: 0 auto;
  margin-bottom: 30px;
  &:hover {
    transform: scale(1.05);
  }
}

.skill-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
}

.skill-text {
  color: $grey;
  font-size: 0.9rem;
  max-width: 300px;
  margin: 0 auto;
}

.skill-number {
  text-align: left;
  width: 80%;
  margin: 20px auto;
}
